<h1>Members</h1>

<form action="">
<label>Search For Member:</label>
<input type="text" name="name">
<% for name in @members
    if name == true
      return name
    end
  end%>
  <p><a class="button" href="/members/<%= name.id %>" >Search</a></p>
</form>

<hr />
<% for member in @members %>
<p>Name: <%= member.name %></p>
<p>Gold Membership: <%= member.gold_membership %></p>

<p><a class="button" href="/members/<%= member.id %>">Select Member</a></p>
<hr />
<% end %>
