<h1>Add New Member</h1>

<form action="/members" method="post">

<label for="name">Name:</label>
<input type="text" name="name">

<label for="gold_membership">Gold Membership:</label>
<select name="gold_membership">
  <option value="true">True</option>
  <option value="false">False</option>
</select>

<input type="submit" Value="Confirm Membership">

</form>
