<p>Name: <%= @member.name %></p>
<p>Gold Membership: <%= @member.gold_membership %></p>

  <label for="">Notes:</label>
  <textarea name="name" rows="8" cols="80"></textarea>

<form action="/members/<%= @member.id %>/delete" method="post">
  <label for="">Delete Member</label>
  <input class="button" type="submit" value="Yes">
</form>

<p><a class="button" href="/members/<%= @member.id%>/edit">Update Member</a></p>
