<div>
<h1 class="logo">Duncan Valentine's</h1>

<h2>The best gym since David Lloyds</h2>

<p>Address: Clockwise Towers, Glasgow, G1 3BX</p>
<p>Tel: 0141 123 4567</p>
<p>Email: info@duncanvalentines.co.uk</p>
<p>Web: www.duncanvalentines.com</p>
</div>
