<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Duncan Valentine's</title>
</head>
<body class="homepage">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/members">View All Members</a></li>
    <li><a href="/members/new">Add New Member</a></li>
    <li><a href="/gymclasses">View All Classes</a></li>
    <li><a href="/gymclasses/new">Add New Class</a></li>
    <li><a href="/bookings">Bookings</a></li>
  </ul>
<%= yield %>
</body>
</html>
