<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Duncan Valentine's</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/members">View All Members</a>
    <a href="/members/new">Add New Member</a>
    <a href="/gymclasses">View All Classes</a>
    <a href="/gymclasses/new">Add New Class</a>
  </nav>
<%= yield %>
</body>
</html>
