ul {
  /* position: fixed; */
  list-style-type: none;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: grey;
  width: 100%;
}

li {
float: left;
border-right:1px solid #bbb;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

li a:hover {
  background-color: green;
}

body {
  background-color: lightgrey;
}

.homepage {
  background-image: url('/images/gym.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
}

p {
  color: black;
  font-family: sans-serif;
}

.button {
  text-decoration: none;
  color: black;
  padding:10px 15px;
  margin: 10px;
  background: #B8B8B8;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; */
  font-family: sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: green;
}

h1 {
  font-family: sans-serif;
}

label {
  font-family: sans-serif;
}

input {
  font-family: sans-serif;
  font-weight: bold;
}

option {
  font-family: sans-serif;
}

.logo {
  font-style: courier;
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
} */
