<p>Class: <%= @bookings.gymclass_id %></p>
<p>Member: <%= @bookings.member_id %></p>

<form action="/bookings/<%= @bookings.id %>/delete" method="post">
  <label for="">Delete Booking</label>
  <input type="submit" value="Yes">
</form>
