<h1>Select a Member:</h1>
<hr />
  <% for member in @members %>
  <p>Name: <%= member.name %> </p>
  <p>Membership: <%= member.gold_membership %></p>
  <p><a class="button" href="/bookings/new/<%= member.id %>">Select Member</a></p>

<hr />
<% end %>
