<label>
  Select a Member:  </label>


  <% for member in @members %>
  <a href="/bookings/new/<%= member.id %>"><%= member.name %>, <%= member.gold_membership %></a>
  <% end %>






  <p>i am here</p>
