<hi>Gym Classes</hi>
<hr />
<% for classes in @gymclasses %>
<p>Name: <%= classes.name %></p>
<p>Class Date: <%= classes.class_date %></p>
<p>Class Time: <%= classes.class_time %></p>
<p>Class Capacity: <%= classes.capacity %></p>
<hr />
<% end %>
