<h1>Confirmed Bookings</h1>

<!-- <ul> -->
  <% for booking in @gymclass.members %>
    <p>Member Name: <%= booking.name %>, Member ID: <%= booking.id %></p>
    <% end %>
    <p>Class Total: <%= @gymclass.members.count %></p>
<!-- </ul> -->
