<h1>Confirmed Bookings</h1>

<ul>
  <% for booking in @gymclass.members %>
    <li>Member Name: <%= booking.name %>, Member ID: <%= booking.id %></li>
    <% end %>
    <li>Class Total: <%= @gymclass.members.count %></li>
</ul>
